@import "../../scss/variable";

footer {
  padding: 1rem;
  background-color: $darkGreen;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  p {
    text-align: center;
    color: $turuncu;
  }
}
